<link rel="stylesheet" href="/css/home.css">

<form action="/add-task" method="post">
    <label for="task">Description</label>
    <input id="task" type="text" placeholder="enter task..." name="task">

    <label for="category">Category</label>
    <select name="category" id="category">
        <option value="Home">Home</option>
        <option value="Professional">Professional</option>
        <option value="Personal">Personal</option>
        <option value="Occasion">Occasion</option>
    </select>

    <label for="due_date">Due Date</label>
    <input id="due_date" type="date" name="due_date">
    <br>

    <button type="submit">Add Task</button>
</form>

<div>
    <% for (let t of taskList) { %>
        <div class="taskdiv">
            <p><%= t.task %></p>
            <p><%= t.category %></p>
            <span><%= t.due_date %></span>
            <input type="checkbox">
            <a href="/delete-task/?id=<%= t._id %>">X</a>
        </div>
    <% } %>    
</div>