<html>
    <head>
        <title> <%= title %> </title>
    </head>
    <body>
        <%- include('_header'); %>

        <p> welcome <%= title %> </p>
        
        <%- include('_footer'); %>
    </body>
</html>