/* -------------------------------general rules----------------------- */
body{
    background: lavender;
    font-family: monospace;
}
form{
    text-align: center;
    width: 80%;
}
button{
    margin: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
a{
    text-decoration: none;
    padding: 5px;
    color: black;
}
i{
    margin-right: 5px;
}

/* -------------------------------task container and task divs ---------------------- */
#task-container{
    width:50%;
    color: black;
}
.taskdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 2px 2px greenyellow;
    background-color: lightgreen;
    margin: 10px;
    border-radius: 10px;
}
.task-info div{
    display: inline-block;
}
.task-info input{
    vertical-align: top;
    margin-top: 10px;
}
.task-info input:checked + div h3{
    text-decoration: line-through;  /*strike through the text when a task checkbox is checked*/
}
h3{
    margin-top: 5px;
    color: darkslategray;
}
.task-tag{
    display: inline-block;
    color: white;
    width: 70px;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
}

/* ---------------------------theme toggle button---------------------- */
#toggle{
    padding: 0;
    margin: 0;
}
#toggle i{
    margin: 0;
    font-size: 1.2em;
}