body{
    background: beige;
}
.taskdiv{
    border: 3px solid lightcoral;
    background-color: honeydew;
    margin: 5px;
    border-radius: 10px;
}
form{
    text-align: center;
    width: 50%;
}
button{
    margin: 10px;
}